// Styles for forms included in page headers
// sass-lint:disable class-name-format
.header-form {
  // Most header forms will have .bg-inverse applied to them; landing
  // pages will use a gold form and require specific color overrides:
  &.bg-primary {
    .gform_wrapper {
      .gform_button {
        // Use brand-complementary color against gold bgs
        @include button-variant($btn-complementary-color, $btn-complementary-bg, $btn-complementary-border);
        @include button-variant-overrides($btn-complementary-color, $btn-complementary-bg, $btn-complementary-border);
      }

      // Make danger text accessible against gold bg
      .gfield_error {
        .gfield_label,
        .ginput_container_name label,
        .ginput_container_address label,
        .clear-multi label {
          color: $brand-danger-against-gold;
        }

        .validation_message {
          @include media-breakpoint-only(xs) {
            color: $brand-danger-against-gold;
          }
        }
      }
    }
  }

  .gform_title {
    font-size: $font-size-h5;

    @include media-breakpoint-up(sm) {
      font-size: $font-size-h5-md;
    }
  }

  .gfield_label {
    font-size: $font-size-xs;
    font-weight: 500;
    text-transform: uppercase;
  }

  .gform_wrapper {
    .gform_body {
      margin-bottom: 1.25rem;
      margin-top: 1.25rem;
    }

    .ginput_container {
      .instruction {
        font-size: .75rem;
        margin-top: .25rem;
      }
    }

    .gfield {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: .75rem;

      .gfield_label {
        flex: 0 0 25%;
        margin-bottom: 0;
        max-width: 25%;
        padding-right: .5rem;
        padding-top: 1rem;
      }

      .ginput_container {
        flex: 0 0 75%;
        max-width: 75%;
      }
    }

    .gform_footer {
      margin-top: 1.25rem;
    }

    .gform_button {
      @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
      @include button-variant-overrides($btn-primary-color, $btn-primary-bg, $btn-primary-border, $white);
      display: block;
      width: 100%;

      @include media-breakpoint-only(md) {
        font-size: $font-size-sm;
      }
    }

    .gfield_error {
      position: relative;

      .gfield_label,
      .ginput_container_name label,
      .ginput_container_address label,
      .clear-multi label {
        color: $brand-danger; // catch sublabels
      }

      .ginput_container {
        // Prioritize validation messages outside of .ginput_container
        // when more than one validation message is present
        .validation_message {
          display: none;
        }
      }

      .validation_message {
        @include media-breakpoint-only(xs) {
          color: $brand-danger;
          display: flex;
          font-size: $font-size-xs;
          flex: 1 0 75%;
          margin-left: 25%;
          max-width: 75%;
        }

        @include media-breakpoint-up(sm) {
          background: transparentize($brand-danger, .25);
          border-radius: $border-radius $border-radius 0 $border-radius;
          bottom: 0;
          color: $brand-danger-color;
          font-size: .7rem;
          left: calc(-50% - 1rem);
          line-height: 1.2;
          margin: 0;
          max-width: 140px;
          padding: .5rem;
          position: absolute;
        }

        @include media-breakpoint-up(md) {
          left: calc(-58% - 1rem);
        }

        @include media-breakpoint-up(lg) {
          left: calc(-40% - 1rem);
        }

        @include media-breakpoint-up(xl) {
          left: calc(-54% - 1rem);
        }

        &::after {
          @include media-breakpoint-up(sm) {
            border-color: transparent transparent transparent transparentize($brand-danger, .25);
            border-style: solid;
            border-width: 8px 0 0 8px;
            bottom: 0;
            content: '';
            display: block;
            height: 0;
            position: absolute;
            right: -8px;
            width: 0;
          }
        }

        // Make sure we only display one message at a time
        + .validation_message {
          display: none;
        }
      }
    }

    // Honeypot field
    .gform_validation_container {
      display: none;
    }

    // Administrative, hidden fields
    input[type=hidden],
    input.gform_hidden,
    .gform_hidden,
    .gf_hidden,
    .field_admin_only,
    .gfield_visibility_administrative {
      display: none;
    }

    .gfield_visibility_hidden,
    .gf_invisible {
      @include invisible();
    }
  }

  .validation_error {
    @include sr-only();
  }

  .privacy-policy-link {
    color: inherit;
    text-decoration: underline;
  }
}
