.tt-cursor {
  background-color: $gray-lighter !important; // sass-lint:disable-line no-important
}

.tt-suggestion:hover {
  background-color: $gray-lighter !important; // sass-lint:disable-line no-important
}

.empty-message {
  margin-left: 1rem;
  margin-top: 1rem;
}
