//
// UCF Post List Plugin style overrides
//


.ucf-post-list-default {
  .ucf-post-list-thumbnail-block {
    height: 45vw;

    @include media-breakpoint-up(sm) {
      height: 14rem;
    }

    @include media-breakpoint-only(md) {
      height: 20rem;
    }
  }
}


.ucf-post-list-thumbnail-deck {
  @include make-row();
}

.ucf-post-list-thumbnail-item {
  @include make-col-ready();
  margin-bottom: $spacer-y;

  @include media-breakpoint-up(md) {
    display: flex;
    flex: 1 0 50%;
    flex-direction: column;
    max-width: 50%;
  }

  @include media-breakpoint-up(xl) {
    flex: 1 0 0;
    max-width: 100%;
  }
}

.ucf-post-list-thumbnail-title {
  @include transition($btn-transition);
  background-color: $brand-primary;
  color: $brand-primary-color;
  display: block;
  font-size: .75rem;
  font-weight: bold;
  letter-spacing: $letter-spacing-base;
  line-height: $btn-line-height;
  padding: .75rem;
  text-align: center;
  text-transform: uppercase;
}

.ucf-post-list-thumbnail-link {
  @include media-breakpoint-up(md) {
    background-color: $gray-lighter;
    flex: 1 1 $ucf-post-list-thumbnail-min-height;
    min-height: $ucf-post-list-thumbnail-min-height;
  }

  &:hover,
  &:active,
  &:focus {
    .ucf-post-list-thumbnail-title {
      background-color: darken($btn-primary-bg, 6%);
      color: $black;
    }
  }
}
