.landing-3-subhead {
  border-top: 1px solid #e0e0e0;
  padding-top: 2rem;

  @include media-breakpoint-up(md) {
    background-color: #fafafa;
    border-bottom: 1px solid #e0e0e0;
    padding: 2.5rem 0;
  }

  @include media-breakpoint-only(md) {
    padding-bottom: 1rem;
  }
}
