.degree-badges {
  @include make-row();
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.degree-badge-col {
  @include make-col-ready();
  flex-basis: 0;
  flex-grow: 1;
  max-width: 200px;
  text-align: center;

  &:not(:only-child) {
    max-width: 150px;

    .degree-badge {
      max-height: 150px;

      @include media-breakpoint-only(lg) {
        max-height: 100px;
      }
    }
  }

  @include media-breakpoint-up(md) {
    margin-bottom: $spacer-y;
    margin-top: $spacer-y;
  }

  @include media-breakpoint-only(lg) {
    @include make-col(12);
  }

  .degree-badge {
    max-height: 200px;
    max-width: 100%;
  }
}

// Hide degree dropdown on single degree template forms:
.single-degree .header-form .gform_wrapper .populate-degrees {
  display: none;
}

.degree-video-caption {
  font-size: .8rem;
}

.lavender {
  color: $lavender!important;
}
