.degree-badges {
  @include make-row();
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.degree-badge-col {
  @include make-col-ready();
  flex-basis: 0;
  flex-grow: 1;
  max-width: 200px;
  text-align: center;

  &:not(:only-child) {
    max-width: 150px;

    .degree-badge {
      max-height: 150px;

      @include media-breakpoint-only(lg) {
        max-height: 100px;
      }
    }
  }

  @include media-breakpoint-up(md) {
    margin-bottom: $spacer-y;
    margin-top: $spacer-y;
  }

  @include media-breakpoint-only(lg) {
    @include make-col(12);
  }

  .degree-badge {
    max-height: 200px;
    max-width: 100%;
  }
}

// Hide degree dropdown on single degree template forms:
.single-degree .header-form .gform_wrapper .populate-degrees {
  display: none;
}

.degree-video-caption {
  font-size: .8rem;
}

.lavender {
  color: $lavender!important;
}

// CSS for the fullscreen custom degree pages
.degree-template-single-degree-fullscreen {

  .lavender-heading {
    line-height: 1.5
  }

  // program at a glance section

  @media screen {
    .program-at-a-glance .display-5 {
          font-size: 3rem;
          font-weight: 600;
          line-height: 1
    }
  }

  .icon-calendar {
    width: 40px;
  }

  .icon-clock {
    width: 45px;
  }

  @media screen and (min-width:992px) {

    .icon-calendar {
      width: 50px;
    }

    .icon-clock {
      width: 55px;
    }
  }

  .icon-labels {
    font-size: .9rem;
    line-height: 1.3;
  }

  .icon-badge {
    max-width: 4rem;
  }

  .icon-handshake {
    max-width: 6rem;
  }

  @media screen and (max-width:991px) {

    .badges,
    .coach-icon,
    .director-img {
      max-width: 200px;
    }
  }

  // program director section

  .program-director {

    .program-director-name {
      font-size: 1.2rem;
    }
    .quote {
      font-size: 1.35rem;
    }
  }

  // application deadline section

  .triangle {
    width: 100%;
    height: 0;
    border-top: 80px solid $dark-grey;
    border-bottom: 80px solid $dark-grey;
    border-left: 80px solid $ucf-gold;
  }

  .bg-arrow-down {
    background-image: url(https://www.ucf.edu/online/files/2019/12/arrow-down-1.png);
    background-size: cover;
    background-repeat: round;
  }

  .bg-dark-grey {
    background-color: $dark-grey;
  }

  .application-deadline-hr {
    max-width: 150px;
  }

  // accordian courses section

  .accordion-courses {
    border-bottom: 1px solid $ucf-gold;
    margin: 1.25rem 0;
    padding: 1.25rem 0;
  }

}
